*{
    margin:0 auto;
    box-sizing: border-box;
    font-size:0.9rem;
    font-family:'Edu Tas Beginner', sans-serif;
}

header{
    height:100px;
    text-align:center;
    padding-top:22px;
    background-image:url("img/wall.png");
}

h1{
    font-size:40px;
}

body{
    background-image:url("img/cork.png");
}

.container{
    display:flex;
    flex-wrap: wrap;
    gap:25px 20px;
    width:70%;
    margin-top:50px;
    margin-bottom:20px;
}

.card {
    position: relative;
    width:calc((100% - 40px) / 3);
    background-color: white;
    padding:20px;
    box-shadow: 5px 5px 5px #666; /* effetto ombra */
}

.card-img{
    width:100%;
    text-align:center;
    margin:0;
}

.card-img img {
    width: 100%;
}

.card-content{
    text-align:center;
    margin-top:10px;
}

.card-content span{
    display:block;
    margin-bottom:10px;
}

.pin{
    position:absolute;
    top:0px;
    left:50%;
    transform: translate(-50%, -30%);
}

/* hover card */

.card:hover .pin{
    display:none;
}

/* effetto rotazione */

.card {
  transition: transform 0.5s ease-in-out; /* Assicura una transizione fluida */
  z-index:100;
}

.card:hover {
  transform: rotate(30deg); /* Ruota l'elemento di 30 gradi al passaggio del mouse */
  z-index:1000;  /* avendo z-index maggiore non finisce dietro altri elementi */
  box-shadow: 10px 10px 5px #666;
  cursor:pointer;
}

/* sezione responsive */

@media screen and (max-width:790px){
    
    .card {
        width:calc((100% - 20px) / 2);
    }
}

@media screen and (max-width:507px){
    
    .card {
        width: 100%;
    }
}